.light{
    --color-font-card-nome: #150303;
    --color-font-card-cargo: #242a38;
    --color-font-card-ano: #4e596f;
    --color-icon-social: #111;
    --color-bg-card: #fff;
}

.dark{
    --color-font-card-nome: #fff;
    --color-font-card-cargo: #217C97;
    --color-font-card-ano: #4e596f;
    --color-icon-social: #fff;
    --color-bg-card: #2e343d;
}

.card{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 20vw;
    height: 35vh;
    min-width: 220px;
    min-height: 230px;
    max-height: 300px;
    max-width: 280px;
    background: var(--color-bg-card);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-image: url("..//imgs/bg-card.svg");
    background-position-y: -2vh;
    background-size: 100% auto;

}

.social-membro{
    margin-top: -10%;
    width: 100%;
}

.social-membro a i{
    transition: 1s;
    margin-top: 5%;
    font-size: 1.4em;
    float: right;
    padding-right: 1.1em;
    font-weight: 900;
    color: var(--color-icon-social);
}
.social-membro a:hover i{
    color: var(--color-font-primary);
}
.foto-membro{
    width: auto;
    height: 40%;
    margin-top: -5%;
    border-radius: 50%;
    margin-bottom: 5%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #979ea3;
}

.card-text{
    font-family: Roboto;
}

.nome-membro{
    color: var(--color-font-card-nome);
    margin-top: 5%;
    font-size: 1.1em;
    font-weight: 900;
}

.cargo-membro{
    color: var(--color-font-card-cargo);
    width: 100%;
    margin-top: 2%;
    font-size: 0.9em;
    font-weight: 600;
}

.ano-membro{
    color: var(--color-font-card-ano);
    width: 100%;
    margin-top: 5%;
    font-size: 1em;
    font-weight: 500;
}

@media (max-width: 530px){
    .cards-container{
        display: flex;
        flex-direction: column;
    }
}