@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

main{
    min-height: 76vh;
    padding-bottom: 4vh;
    width: 100%;
}


.light{
    --color-font-index: #fff;
    --color-bg-table: #63a3b6;
    --color-bg-table-primary: #fff;
    --color-bg-table-secondary: #f2f2f2;
}

.dark{
    --color-font-index: #242a38;
    --color-bg-table: #62b269;
    --color-bg-table-primary: #4e596f;
    --color-bg-table-secondary: #6c757d;
}


.docsTitle{
    padding-top: 15vh;
    width: 100%;
    text-align: center;
    font-family: Roboto;
    color: var(--color-font-dark)
}

.document-container{
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 5px 10px #15262e85;
    background-color: var(--color-bg-table-primary);
    overflow: hidden;
    width: 80vw;
}
thead{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    box-shadow: 0 2px 10px #15262e4d;
    margin-bottom: 5vh;
    color:var(--color-font-index);
    background-color: var(--color-bg-table);
}

th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

td{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--color-font-secondary);
    padding: 1rem 2rem;
}

tr:nth-child(even){
    background-color: var(--color-bg-table-secondary);
}

.botaoView{
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: var(--color-font-secondary);
    background-color: rgba(255, 255, 255, 0);
    width: 50%;
    font-size: 1.1rem;
}

.loading{
    position: absolute;
    display: flex;
    margin-top: 15vh;
}

.bolas > div {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 5px;
  animation-name: loadingAnim;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.bolas > div:nth-child(1) {
    background-color: #83bfff;
    animation-duration:0.90s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    background-color: #979ea3;
    animation-duration: 0.90s;
    animation-delay: 0.20s;
}
.bolas > div:nth-child(3) {
    background-color:#a5dab1;
    animation-duration: 0.90s  ;
    animation-delay: 0.40s;
}
 
@keyframes loadingAnim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.01);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}