@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

main{
    min-height: 73.7vh;
    padding-bottom: 4vh;
    width: 100%;
}

.docsTitle{
    padding-top: 15vh;
    width: 100%;
    text-align: center;
    font-family: Roboto;
    color: var(--color-font-dark)
}

.document-container{
    padding-left: 2em;
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

table{
    
    width: 80vw;
}

table, th, td {
    border: 2px solid #15262E;
    border-collapse: collapse;
    font-size: 1em;
    font-family: Roboto;
    color: #15262E;
}

th{
    font-weight: 900;
    background-color: #2C6693;
    color: #FFFFFF;
}

td{
    font-weight: 400;
    background-color: var(--color-bg-hover);
}

th, td {
    padding: 1em;
}

.botaoView{
    border: none;
    cursor: pointer;
    width: 50%;
    height: 50%;
    background-color: var(--color-bg-hover);
}