@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

/*
*   botão em telas maiores que 750px.
*/
@media (min-width: 750px){
    .boxButtomForm{
        position: fixed;
        z-index: 5;
        bottom: 9vh;
        right: -9vw;
        transition: linear 300ms;
    }
    .formContatobtn{
        width: 13vw;
        height: 7.5vh;
        background-color: #49556C;
        border: none;
        cursor: pointer;
        border-radius: 10px 0px 0px 10px;
    }

    .boxButtomForm :hover{
        transition: linear 300ms;
        transform: translateX(-7.5vw);
    }

    #btnContatoInicio :hover ~ .boxButtomForm{
        transition: linear 300ms;
        transform: translateX(-7.5vw);
    }
    .itensBtnContat p{
        color: white;
        font-size: 1.7em;
        margin-left: 1vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    
    #envelopIcon{
        text-align: center;
        justify-content: center;
        margin-left: 0;
        font-size: 2em;
        color: white;
    }
}

/*
*   botão em telas menores que 750px.
*/

@media (max-width: 749px){
    .boxButtomForm{
        position: fixed;
        z-index: 5;
        bottom: 9vh;
        right: -15vw;
        transition: linear 300ms;
    }
    .formContatobtn{
        width: 22vw;
        height: 7.5vh;
        background-color: #49556C;
        border: none;
        cursor: pointer;
        border-radius: 10px 0px 0px 10px;
    }

    .boxButtomForm :hover{
        transition: linear 300ms;
        transform: translateX(-13vw);
    }

    #btnContatoInicio :hover ~ .boxButtomForm{
        transition: linear 300ms;
        transform: translateX(-13vw);
    }
    .itensBtnContat p{
        color: white;
        font-size: 2.7em;
        margin-left: 2vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    
    #envelopIcon{
        text-align: center;
        justify-content: center;
        margin-left: 1vw;
        font-size: 3.5em;
        color: white;
    }
}

.itensBtnContat{
    display: flex;
    pointer-events: none; 
    margin: 0;
    padding-left: 1vw;
    font-size: 1.1vw;
    width: 12vw;
    height: 7.5vh;
    align-items: center;
}

.forms{
    position: fixed;
    z-index: 8;
    border-radius: 5px;
    background-color: #49556C;
    padding: 10px;
    width: 300px;
    height: 400px;
    bottom: 9vh;
    right: 1vw;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
}
.titulo-form{
    margin-top: 2vh;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
}
.textoForm{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
}

.entradas{
    width: 260px;
    margin-top: 2vh;
    margin-left: 2vh;
}

.entradas input{
    width: 260px;
    height: 30px;
    margin-top: 0.3vh;
    padding-left: 1vw;
    background: #D9D9D9;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.entradas textarea{
    width: 260px;
    height: 100px;
    margin-top: 0.3vh;
    padding-left: 1vw;
    resize: none;
    background: #D9D9D9;
    border-radius: 4px;
    padding-top: 1vh;
    font-family: 'Roboto', sans-serif;
}
.entradas textarea:focus,  .entradas input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.botoes-forms{
    display: flex;
    margin-top: 3vh;
    width: 270px;
    padding-left: 10px;
    margin-left: 5px;
    justify-content: space-between;
}

.btn-from{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 10px;
    width: 110px;
    height: 40px;
    text-align: center;
    font-weight: 600;
    color: white;
}

.btn-from-cancel{
    background-color: #49556C;
    border: 2px solid #D84557;
    line-height: 2;
    text-decoration: none;
}

.btn-from-envio{
    background-color: #62B269;
    border: 2px solid #62B269;
}

.forms:target {
    opacity: 1;
    pointer-events: auto;
}

.forms {
    z-index: 6;
    opacity:0;
    transition: 400ms ease-in;
    pointer-events: none;
}

.fechar {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -0.5vh;
    right: inherit;
    color: #D84557;
    background: #D9D9D9;
    border-radius: 5px;
    text-align: center;
    line-height: 2;
    font-weight: bolder;
}

.sucessEnvio{
    position: fixed;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    width: auto;
    height: 7.5vh;
    bottom: 9vh;
    right: 10vw;
    border-radius: 5px;
    transition: 400ms ease-in;
}
.sucessEnvio:target {
    animation-name: sucessAnim;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 5s;
    opacity: 0;
    pointer-events: none;
}

@keyframes sucessAnim {
    10% {
      opacity: 1;
      pointer-events: auto;
    }
    75% {
      opacity: 1;
      pointer-events: auto;
    }
    90% {
        opacity: 0;
        pointer-events: none;
    } 
  }

@media (max-height: 500px){
    .forms{
        position: fixed;
        z-index: 8;
        border-radius: 5px;
        background-color: #49556C;
        padding: 10px;
        width: 300px;
        height: 400px;
        top: -55px;
        right: 5vw;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
    }
    .titulo-form{
        margin-top: 20px;
        font-size: 1.5em;
        text-align: center;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: white;
    }
    
    .entradas{
        width: 260px;
        margin-top: 5px;
        margin-left: 15px;
    }
    
    .entradas input{
        width: 260px;
        height: 30px;
        margin-top: 3px;
        padding-left: 5px;
        border-radius: 4px;
    }
    
    .entradas textarea{
        width: 260px;
        height: 60px;
        margin-top: 3px;
        padding-left: 5px;
        border-radius: 4px;
        padding-top: 1vh;
    }
    .btn-from{
        height: 35px;
    }
}