.pdf-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 15;
    background: rgba(234, 237, 247, 0.4);
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    transition: 500ms ease-in;
}

.box-modal{
    display: block;
    margin-top: 4vh;
    margin-left: 5vw;
    padding-top: 1.5vh;
    width: 90vw;
    height: 91vh;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--color-bg-primary);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    min-height: 450px;
}

.pdf-view{
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
    padding: 2vh 2vw;
    border: 2px dashed var(--color-border-secondary);
    border-width: 1.5px 0px 1.5px 0px;
    width: 86vw;
    height: 70vh;
}

.bot達o-right{
    width: 100%;
    height: 10.1vh;
    margin-top: -0.5vh;
    border-radius: 0px 0px 10px 10px;
    text-align: right;
    align-items: flex-end;
}

.bot達o-Fechar{
    text-align: center;
    cursor: pointer;
    margin-right: 2.5vw;
    margin-top: 1.5vh;
    width: 10vw;
    height: 5vh;
    min-height: auto;
    min-width: 120px;
    font-weight: 900;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    margin-top: 2.5vh;
}

.bot達o-Fechar:hover{
    color: #ffffff;
    background-color: #a0a6ab;
}

.titulo-pdf{
    padding-top: 1vh;
    font-size: 1.2em;
    border-width: 0 0 2px 0px;
    color: var(--color-font-dark);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    justify-content: center;
}

@media (max-width: 660px) {
    .bot達o-Fechar{
        text-align: center;
        cursor: pointer;
        margin-right: 2.5vw;
        margin-top: 0.5vh;
        width: 10vw;
    }
}