
@media(min-width: 750px) {
.slide{
    margin: auto;
    justify-content: center;
    width: 45vw;
    height: 35vh;
    padding-left: 1vw;
    padding-right: 1vw;
    overflow: hidden;
}
.slideTopcs{
    display: flex;
    width: 45vw;
    height: 40vh;
    overflow: hidden;
    scroll-behavior: auto;
    padding-top: 1vh;
}
.slideTopcs input{
    display: none;
}
.slideTopcs h3{
    color: var(--color-font-primary);
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.slideTopcs p{
    color: var(--color-font-dark);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.05em;
}

.slideItem{
    width: 42vw;
    height: 32vh;
    margin-left: 2vw;
    margin-right: 2vw;
    background-image: url("../imgs/bg-slide.svg");
    background-size: 100% auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    max-height: 250px;
    background-color: var(--color-bg-primary);
    transition: 1s;
}
@media(max-width: 955px){
    #visaoID{
        margin-top: 1vh;
    }

    #visaoID p{
        font-size: 0.882em;
    }
}
.conteudoSlide{
    width: 38vw;
    height: auto;
    align-items: center;
    text-align: center;
    margin: 2vh 2vw;
}

.nav-manual{
    position: absolute;
    width: 40vw;
    margin-top: 36vh;
    display: flex;
    padding-left: 5vw;
    justify-content: center;
}
.manual-btn{
    border: 2px solid var(--color-mode);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    transition: 1s;
}
.manual-btn:hover{
    background-color: var(--color-bg-hover);
}

#radio1:checked ~ .first{
    margin-left: 3vw;
}
#radio2:checked ~ .first{
    margin-left: -43.5vw;
}
#radio3:checked ~ .first{
    margin-left: -90vw;
}


.nav-auto div{
    border: 2px solid var(--color-border-primary);
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px;
    transition: 1s;
}
#radio1:checked ~ .nav-auto .btn-auto1{
    background-color: var(--color-font-primary);
}
#radio2:checked ~ .nav-auto .btn-auto2{
    background-color: var(--color-font-primary);
}
#radio3:checked ~ .nav-auto .btn-auto3{
    background-color: var(--color-font-primary);
}
.nav-auto{
    position: absolute;
    width: 40vw;
    margin-top: 36vh;
    padding-left: 5vw;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
}

@media(max-width: 749px) {
    .boxConteudoInicio{
        display: flex;
        position: static;
        height: auto;
        flex-direction: column;
        margin-top: 5vh;
        margin-bottom: -8vh;
        justify-content: center;
        align-items: center;
    }
    .logoEmpresa{
        display: none;
        position: absolute;
    }
    
    .barraVertical{
        display: none;
        position: absolute;
    }
    .slideTopcs{
        width: 100%;
        display: flex;
        position: static;
        flex-direction: column;
    }
    .slideTopcs input{
        display: none;
        position: absolute;
    }
    .slideTopcs h3{
        color: var(--color-font-primary);
        padding-top: 2vh;
        padding-bottom: 2vh;
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }
    
    .slideTopcs p{
        color: var(--color-font-dark);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: justify;
        letter-spacing: 0.05em;
        padding-bottom: 4vh;
    }
    
    .slideItem{
        width: 85vw;
        height: auto;
        text-align: center;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        margin-bottom: 3vh;
        background-image: url("../imgs/bg-slide.svg");
        background-size: 100% auto;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        background-color: var(--color-bg-primary);
    }
}